/* You can add global styles to this file, and also import other style files */
body {
    background: #eee;
    font: 12px Lucida sans, Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
}

a {
    color: #2A679F;
}